@import "../../globals.scss";;
.Main{
    width: 100%;
    padding: 1rem;
    background-color: #eff2f5;
    min-height: 100vh;
    @media (width < 780px) {
        padding: 1%;
        padding-top: 15vh;
    }
}